.Navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    justify-content: center;
    transition: 0.5s;

}

.NavbarContainer {
    text-align: left;
    position: relative;
    width: 100%;
    height: 50px;
    background: #64866D;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #FFFFFF;

}

.NavbarSmallContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ApplicationName {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: 'Megrim', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
}

.ApplicationName a {
    text-decoration: none;
    color: white;
    font-family: 'Megrim', cursive;
}

.IconsContainer {
    margin-left: auto;
    margin-right: 15px;
    float: left;
    text-align: right;
}

.MyIcon {
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    background: #4B6452;
    mix-blend-mode: luminosity;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-left: 5px;
    justify-content: center;

}

.IconImage {

    height: 32px;
    margin: 4px;

}

@media (max-width: 882px) {
    .NavbarContainer {

        height: 30px;
    }

    .ApplicationName {
        font-size: 20px;
        line-height: 30px;
    }

}

@media (max-width: 880px) {
    .MyIcon {
        width: 20px;
        height: 20px;
        margin-left: 3px;
    }

    .IconImage {

        height: 14px;
        margin: 0 0 6px;

    }
}

@media (max-width: 441px) {

    .ApplicationName {
        font-size: 15px;
        line-height: 30px;
    }

}


.MyList {
    float: left;
    width: 30%;
    height: 100%;
    align-items: center;

}

.MyLogin {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;


}

.MyList a {
    text-decoration: none;
    color: white;
}

input {
    margin-top: 3px;
    margin-bottom: 3px;

    border-radius: 5px;
    width: 100%;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
