
.products {
    width: 100%;
}

.container {
    width: 100%;
    display: inline-block;
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;

}

.one-product {

}

.name-product {
    width: 60%;
    margin-left: 5px;
    text-align: left;
    float: left;
}

.amount-product {
    float: left;
    width: 20%;
}

.delete-product {
    text-align: right;
    margin-right: 20px;
    float: left;
    width: 10%;
}

#list {
    list-style-type: none;
}
.productList{

    width: 618px;
    height: 57px;
    left: 411px;
    top: 131px;
   
    background: #4B6452;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
.collectionProducts{
    margin-left: 125px;
    width: 618px;
    left: 450px;
    top: 168px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    margin-bottom: 10px;
}
li{
    list-style-type: none;
    text-align: left;
    padding: 2px;




}
ol{
    margin: 5px
;
}